Telas/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" type="xs:int" />
      <xs:element minOccurs="0" name="TipoAcesso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdServico" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoServico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="ArrayOfServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServico" nillable="true" type="tns:ArrayOfServico" />
  <xs:complexType name="Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idcontrato" type="xs:int" />
      <xs:element name="Idservico" type="xs:int" />
      <xs:element name="Idusuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contrato" nillable="true" type="tns:Contrato" />
  <xs:complexType name="ArrayOfContrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contrato" nillable="true" type="tns:Contrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContrato" nillable="true" type="tns:ArrayOfContrato" />
</xs:schema>