Telas/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58713/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" />
  <xs:import schemaLocation="http://localhost:58713/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AplicacaoServidor" />
  <xs:element name="InsertUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="usuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="ListarUsuarioResult" nillable="true" type="q3:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="SelectUsuarioUsuarioResult" nillable="true" type="q4:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="LogarUsuarioResult" nillable="true" type="q5:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="servico" nillable="true" type="q6:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirServicoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idServico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarServicoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServico">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="ListarServicoResult" nillable="true" type="q7:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="ListarServicoIDResult" nillable="true" type="q8:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicoPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicoPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="ListarServicoPAResult" nillable="true" type="q9:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="contrato" nillable="true" type="q10:Contrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirContratoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarContratoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" minOccurs="0" name="ListarContratoResult" nillable="true" type="q11:ArrayOfContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AplicacaoServidor" minOccurs="0" name="composite" nillable="true" type="q12:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AplicacaoServidor" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>