Telas/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58713/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58713/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58713/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:LogarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_LogarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:LogarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_LogarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirServico_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirServico" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarServico_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarServico" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServico_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarServico" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServicoID_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicoID" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServicoID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicoIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServicoPA_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicoPA" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarServicoPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarServicoPAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirContrato" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarContrato" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarContrato" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarContratoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCliente" message="tns:IService1_InsertCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertClienteResponse" message="tns:IService1_InsertCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCliente" message="tns:IService1_DeleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClienteResponse" message="tns:IService1_DeleteCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarCliente" message="tns:IService1_AlterarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarClienteResponse" message="tns:IService1_AlterarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarCliente" message="tns:IService1_ListarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarClienteResponse" message="tns:IService1_ListarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCliente" message="tns:IService1_SelectCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectClienteResponse" message="tns:IService1_SelectCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogarCliente" message="tns:IService1_LogarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogarClienteResponse" message="tns:IService1_LogarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEmpresa" message="tns:IService1_InsertEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEmpresaResponse" message="tns:IService1_InsertEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmpresa" message="tns:IService1_DeleteEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmpresaResponse" message="tns:IService1_DeleteEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarEmpresa" message="tns:IService1_AlterarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarEmpresaResponse" message="tns:IService1_AlterarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarEmpresa" message="tns:IService1_ListarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarEmpresaResponse" message="tns:IService1_ListarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectEmpresa" message="tns:IService1_SelectEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectEmpresaResponse" message="tns:IService1_SelectEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogarEmpresa" message="tns:IService1_LogarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogarEmpresaResponse" message="tns:IService1_LogarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirServico" message="tns:IService1_InserirServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirServicoResponse" message="tns:IService1_InserirServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarServico" message="tns:IService1_DeletarServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarServicoResponse" message="tns:IService1_DeletarServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarServico" message="tns:IService1_ListarServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarServicoResponse" message="tns:IService1_ListarServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarServicoID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarServicoID" message="tns:IService1_ListarServicoID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarServicoIDResponse" message="tns:IService1_ListarServicoID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarServicoPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarServicoPA" message="tns:IService1_ListarServicoPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarServicoPAResponse" message="tns:IService1_ListarServicoPA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirContrato" message="tns:IService1_InserirContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirContratoResponse" message="tns:IService1_InserirContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarContrato" message="tns:IService1_DeletarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarContratoResponse" message="tns:IService1_DeletarContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarContrato" message="tns:IService1_ListarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarContratoResponse" message="tns:IService1_ListarContrato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/LogarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/LogarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirServico">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarServico">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarServico">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarServicoID">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarServicoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarServicoPA">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarServicoPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirContrato">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarContrato">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContrato">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58713/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>