Telas/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.Negocio.Basica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
      <xs:element name="Telefone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
      <xs:element name="Telefone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element name="EntEmpresa" nillable="true" type="tns:Empresa" />
      <xs:element name="IdServico" type="xs:int" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="TipoServico" nillable="true" type="xs:string" />
      <xs:element name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="ArrayOfServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServico" nillable="true" type="tns:ArrayOfServico" />
  <xs:complexType name="Contrato">
    <xs:sequence>
      <xs:element name="EntCliente" nillable="true" type="tns:Cliente" />
      <xs:element name="EntServico" nillable="true" type="tns:Servico" />
      <xs:element name="Idcontrato" type="xs:int" />
      <xs:element name="NomeEmpresa" nillable="true" type="xs:string" />
      <xs:element name="NomeServico" nillable="true" type="xs:string" />
      <xs:element name="TipoServico" nillable="true" type="xs:string" />
      <xs:element name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contrato" nillable="true" type="tns:Contrato" />
  <xs:complexType name="ArrayOfContrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contrato" nillable="true" type="tns:Contrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContrato" nillable="true" type="tns:ArrayOfContrato" />
</xs:schema>